%request-result {
    position: absolute;
    font-size: 1.6rem;
    bottom: 1rem;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F7F7F7;
    height: 100vh;

    &__title {
        font-size: 3.2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 4rem;
        text-transform: capitalize;
        margin: 10rem 0 3rem;
    }

    &__response {
        position: absolute;
        top: 120px;
        width: 100%;
    }
}

.form-login {
    display: flex;
    width: 58.5rem;
    height: 55.8rem;
    border-radius: 4px;
    border: 1px solid #CFCFCF;
    background: #FFF;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;

    &__group {
        display: flex;
        flex-direction: column;
    }

    &__message {
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: 2rem;        
    }

    &__link {
        text-decoration: none;
        font-weight: 700;
        text-align: center
    }

    &__request-result {

        &_success {
            @extend %request-result;
            color: green;
        }

        &_fail {
            @extend %request-result;
            color: red;
        }
    }

    &__input {
        width: 40rem;
        height: 5rem;
        padding: 1.3rem 1.6rem;
        font-size: 1.6rem;
        border-radius: 0.4rem;
        border: 0.1rem solid #CFCFCF;

    }

    &__label {
        color: black;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2rem;
    }

    &__error {
        color: red;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem;
    }
}